<% layout('layouts/boilerplate')%>
<div class="row">
    <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
        <div class="card-header">
            <h1>Bem vindo!</h1>
        </div>
        <div class="card-body">
            <h2>Seleceione uma das opções contidas no Menu</h2>
        </div>
    </div>
</div>
