<% layout('layouts/boilerplate')%>
    <div class="col-md-8 overflow-auto" style="max-height: 85%;">
        <div class="table-responsive">
            <table class="table table-hover table-dark table-striped table-md">
                <thead>
                    <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">Sobrenome</th>
                        <th scope="col">CPF</th>
                        <th scope="col">Tipo de Cliente</th>
                    </tr>
                </thead>
                <tbody>
                    <% usuarios.forEach(usuario => { %>
                        <tr>
                            <td><%= usuario.nome_usuario %></td>
                            <td><%= usuario.sobrenome_usuario %></td>
                            <td><%= usuario.cpf_usuario %></td>
                            <td><%= usuario.decricao_tipo_usuario %></td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>